## Benchmarks

In [2]:
import sys
if '../' not in sys.path:
    sys.path.append('../')
from jobshop.benchmark import benchmark

In [3]:
benchmark("../datasets/taillard/", "CP-SAT", 1, 10)

  Instance  Makespan (CP-SAT)
0    Tai01             1343.0
1    Tai02             1317.0
2    Tai03             1298.0
3    Tai04             1255.0
4    Tai05             1338.0
5    Tai06             1294.0
6    Tai07             1305.0
7    Tai08             1306.0
8    Tai09             1407.0
9    Tai10             1318.0

In [4]:
benchmark("../datasets/taillard/", "MIP", 1, 10)

  Instance  Makespan (MIP)
0    Tai01            -1.0
1    Tai02          9339.0
2    Tai03          9376.0
3    Tai04            -1.0
4    Tai05          9306.0
5    Tai06          9376.0
6    Tai07          8689.0
7    Tai08          8933.0
8    Tai09         10153.0
9    Tai10          8577.0